/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* add classname `markdown-section` manully*/

.markdown-content {
  position: relative;
  margin: 0 auto;
  /*padding: 28px 18px 12px 30px;*/
  word-break: break-all;
  font-size: 16px;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  font-weight: 600;
  color: #444;
}

.markdown-section a {
  color: #0074D9;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  word-spacing: 0.05em;
}

.markdown-content h1 {
  margin: 0 0 15px;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

.markdown-section h2 {
  padding: 1rem 0 0 0;
  margin: 0 0 1rem 0;
  font-size: 1.4em;
  color: #ef8585;
  font-weight: bold;
}

.markdown-section h3 {
  margin: 52px 0 1.2em;
  font-size: 1.5em;
}


.markdown-content h4 {
  font-size: 1.1em;
  margin-bottom: 1.2em;
  color: #888;
}

.markdown-section h5 {
  font-size: 1em;
}

.markdown-section h6 {
  font-size: 1em;
  color: #777;
  margin-bottom: 1em;
}

.markdown-section figure,
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  margin: 1em 0;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  margin: 0 0 1em 0;
  line-height: 1.8;
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5em;
}

.markdown-section ol li {
  line-height: 1.6;
}

.markdown-section li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.markdown-section blockquote {
  color: #6b7a8c;
  border-left: 4px solid #cfd8e6;
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  margin-left: 0;
  line-height: 1.6;
  color: #6b7a8c;
}

.markdown-section iframe {
  margin: 1em 0;
}

.markdown-section em {
  color: #7f8c8d;
}

.markdown-section code {
  background-color: #f9f9f9;
  border-radius: 3px;
  /*white-space: pre;*/
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  line-height: 1.2;
}

.markdown-section pre {
  background-color: #f9f9f9;
  border-left: 2px solid #eee;
  margin: 0 0 1em 0;
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  padding: 12px 10px 12px 12px;
  font-size: 16px;
  overflow: auto;
  word-wrap: normal;
  z-index: 0;
}

.markdown-section img {
  width: 400px;
  max-width: 100%;
}
